table {
    width: 100%;
  }

  th.mat-sort-header-sorted {
    color: black;
  }

  .mat-paginator {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 255, 242);
  }

  ::ng-deep th.mat-header-cell{
    width: 140px;
    min-width: 140px;
    color:black;
}

.highlight{
  color: white;
  background: #673AB7;
}


.mat-header-cell {
  background-color:rgb(145, 145, 145);
  
}

th {
  font-weight: 500;
}

.qa {
  width: 25%;
}

.ga {
  width: 50%;
}

td {
  background: rgb(245, 242, 238);
  
}
.questionAnswer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.questionAnswers {
  display: grid;
  grid-template-columns: 1fr;
}

.btn-dark{
  background-color:#4585cf;
  color: #FFF;
  }

 .btn-black:hover{color: #FFF;}