<div class="container">
  
  <h1 >Add Interview Question And Answer</h1>
  
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <!--
    <p>
      <label for="eployername" ><B>*Employer Name:</B></label>
      <input type="text" id="name" name="employername" formControlName="employerName" class="form-control" placeholder="Firstdata/Virtusa/Apple/Microsoft"> 
    </p>
-->
    <div class="form-group">
      <label ><B>*Employer Name:</B></label>
      <input type="text" formControlName="employerName" class="form-control" placeholder="Firstdata/Virtusa/Apple/Microsoft" [ngClass]="{ 'is-invalid': submitted && f.employerName.errors }" />
      <div *ngIf="submitted && f.employerName.errors" class="invalid-feedback">
          <div *ngIf="f.employerName.errors.required">Employer Name is required</div>
      </div>
    </div>


    <div class="form-group">
      <label for="questionPostedBy" ><B>*Your Name:</B></label>
      <input type="text" id="name" name="questionPostedBy" required formControlName="questionPostedBy" class="form-control"
       placeholder="Selvapandy Moorthy"
       [ngClass]="{ 'is-invalid': submitted && f.questionPostedBy.errors }" 
       > 
       <div *ngIf="submitted && f.questionPostedBy.errors" class="invalid-feedback">
        <div *ngIf="f.questionPostedBy.errors.required">Your Name is required</div>
    </div>
    </div>
      <div class="form-group">
      <label for="questionPostedBy" ><B>Your contact:</B></label>
      <input type="text" id="contact" name="contact" required formControlName="contact" class="form-control"
       placeholder="Mobile/Email"
       [ngClass]="{ 'is-invalid': submitted && f.questionPostedBy.errors }" 
       > 
       <div *ngIf="submitted && f.questionPostedBy.errors" class="invalid-feedback">
        <div *ngIf="f.questionPostedBy.errors.required">Contact required</div>
    </div>
    </div>
  
    <div class="form-group">
      <label for="experiencelevel" ><B>Experience level:</B></label>
      <input type="text" id="experiencelevel" name="experiencelevel" required formControlName="experiencelevel" class="form-control"
       placeholder="10+"
       [ngClass]="{ 'is-invalid': submitted && f.experiencelevel.errors }" 
       > 
       <div *ngIf="submitted && f.experiencelevel.errors" class="invalid-feedback">
        <div *ngIf="f.experiencelevel.errors.required">experience level required</div>
    </div>
    </div>

    <table class="table table-bordered" formArrayName="questionAnswers">
      <tr>
        <th colspan="3" class="labelAddQA">*Question and Answers:</th>
        <th width="150px" class="labelAddQA"><button type="button" (click)="addQuestionAnswers()" class="btn btn-primary">Add More</button></th>
      </tr>
      <tr class="labelAddQA1" *ngFor="let questionAnswers of questionAnswers().controls; let i=index" [formGroupName]="i">
         
       
        <input formControlName="qId" type="hidden" ngModel="{{i}}"> 
        <td>
          <b>Technology :</b>
          <input type="text" formControlName="technology" class="form-control" placeholder="Angular">
        </td>
       
        <td>
          <b>Question Asked :</b>
            <input type="text" formControlName="questionAsked" class="form-control" placeholder="What is typescript?">
        </td>
        <td>
        <b>Given Answer:</b>
            <input type="text" formControlName="givenAnswer" class="form-control" placeholder="Superset of Javascript">
        </td>
        <td >
            <button (click)="removeQuestionAnswers(i)" class="btn btn-danger">Remove</button>
        </td>
      </tr>
    </table>

  <!--  <p>
      <label for="name"><B>*Interview Date:</B></label>
      <input type="text" id="name" name="interviewDate" formControlName="interviewDate" class="form-control" placeholder="10/10/2020"> 
    </p>
-->
    <div class="form-group">
      <label ><B>*Interview Date:</B></label>
      <input type="text" formControlName="interviewDate" class="form-control" placeholder="10/10/2020" [ngClass]="{ 'is-invalid': submitted && f.interviewDate.errors }" />
      <div *ngIf="submitted && f.interviewDate.errors" class="invalid-feedback">
          <div *ngIf="f.employerName.errors.required">Interview Date required</div>
      </div>
    </div>


    <button class="btn btn-success" (click)="createInterviewQA()">Create</button>
    
  </form>
    
  <br/>
 <!-- {{this.productForm.value | json}}-->
</div>